table {
  width: 100%;
  margin-top: 20px;
  overflow: auto;
  border-collapse: collapse;
}

/* Table cell styling */
th, td {
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  text-align: center;
}

td {
  text-align: unset;
}

::ng-deep .mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 !important;
}


/* Header styling */
th {
  background-color: yellow !important;
  font-weight: bold;
}

th.mat-header-cell {
  background-color: #ffeb3b;
}

.mat-header-row {
  background-color: #ffeb3b;
}

.mat-row:last-child {
  background-color: #d4edda;
  font-weight: bold;
}

.mat-cell:last-child {
  background-color: #d4edda;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

tbody td {
  text-align: unset !important;
}

.tr-background {
  background-color: gray;
}

::ng-deep .mat-icon {
  padding: 0 !important;
  cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 5px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding: unset !Important;
}


input {
  border: 0;
  outline: 0;
  height: 60px;
  width: 68px;
}

input:focus {
  outline: none !important;
}


.parent-row {
  background-color: darkgray;
}

.sub-row {
  background-color: #ece1e1;
}


.ebit-row {
  background-color: greenyellow;
}


.input-style input {
  height: 13px;
  background-color: darkgray;
}

.input-field {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

.input-style input {
  width: 80px;
}

.button {
  color: white !important;
  margin-left: 1%;
}

.button {
  color: white !important;
  margin-left: 1%;
}

.edit-button {
  background-color: green !important;
}

.save-button {
  background-color: orange !important;
  left: 87%;
}

.budget-button {
  background-color: red !important;
}

.hidden-row {
  display: none;
}

.category-table {
  max-width: 99%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
