<div class="form-control">
  <button mat-raised-button class="button edit-button">Edit</button>
  <button mat-raised-button class="button save-button" (click)="saveAll()">Save</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let item" [class]="getClass(item)">
        <strong class="m-lg-2" *ngIf="item.nestingLevel === 0">{{ item.name }}</strong>
        <span class="m-lg-2" *ngIf="item.nestingLevel !== 0">{{ item.name }}</span>
        <button *ngIf="item.nestingLevel < 2"
                mat-icon-button
                (click)="toggleRow(item); $event.stopPropagation()">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="item.expanded ? 'add': 'remove'">
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax</th>
      <td mat-cell *matCellDef="let item; let elIndex=index" [class]="getClass(item)">

        <input *ngIf="item.nestingLevel === 2"
               type="number"
               (input)="onTaxChange(elIndex, $event)"
               [value]="item.taxRate"/>

        <span *ngIf="item.nestingLevel < 2">{{item.taxRate === 0 ? '' : item.taxRate}}</span>
      </td>
    </ng-container>

    <ng-container *ngFor="let month of months; let monthIndex = index" [matColumnDef]="month">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{month}}</th>
      <td mat-cell *matCellDef="let item; let elIndex=index" [class]="getClass(item)">

        <!-- If nestingLevel is 2, make input editable -->
        <input *ngIf="item.nestingLevel === 2"
               (input)="onPricePerUnitChange(elIndex, monthIndex, $event)"
               [value]="item.cells[monthIndex]?.price.priceInMoney" type="number"/>

        <!-- Display pricePerUnit if nestingLevel is less than 2 -->
        <span *ngIf="item.nestingLevel < 2">{{item.cells[monthIndex]?.price.priceInMoney}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total YEAR</th>
      <td mat-cell *matCellDef="let item" [class]="getClass(item)">
        <input *ngIf="item.nestingLevel === 2"
               type="number"
               [value]="item.totalAmount.priceInMoney"/>

        <span *ngIf="item.nestingLevel < 2">{{item.totalAmount.priceInMoney}}</span>
      </td>
    </ng-container>

    <!-- DELETE -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let item; let i=index" [class]="getClass(item)">
        <button
          mat-button
          class="delete-button"
          *ngIf="i < (categories.length-3)"
          (click)="deleteCategory(item)">
          DELETE
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item" [class]="getClass(item)"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.hidden-row]="row.hidden"></tr>

  </table>
</div>
