<div class="add-category-container">
  <h2>Add New Category</h2>

  <div class="form-container">


    <div class="form-row">
      <div class="form-group">
        <label for="category-name">Nosaukums:</label>
        <input type="text" id="category-name" [(ngModel)]="newCategory.name"/>
      </div>

      <div class="form-group">
        <label>Tips:</label>
        <select [(ngModel)]="newCategory.nestedLevel" (ngModelChange)="getCategories($event)">
          <option value="0">Galvenā kategorija</option>
          <option value="1">Apakškategorija</option>
          <option value="2">Apakšpozīcija</option>
        </select>
      </div>
    </div>

  </div>
  <div class="form-row">

    <div class="form-group" *ngIf="newCategory.nestedLevel !== '0'">
      <label for="parent-id">Parent Category:</label>
      <select id="parent-id" [(ngModel)]="newCategory.parentId">
        <option [ngValue]="null">-- No Parent --</option>
        <option *ngFor="let c of categories" [ngValue]="c.id">
          {{ c.name }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="newCategory.nestedLevel === '0'">
      <label for="parent-id">Description:</label>
      <select id="parent-id" [(ngModel)]="newCategory.categoryDescription">
        <option [ngValue]="null">-- Description --</option>
        <option *ngFor="let c of categoryDescriptions" [ngValue]="c">
          {{ c }}
        </option>
      </select>
    </div>

  </div>
  <ng-container *ngIf="newCategory.nestedLevel ===  '2'">


    <div class="form-group">
      <label>Vienības:</label>
      <div>
        <input type="checkbox" id="unit-money" [(ngModel)]="newCategory.unitMoney"
               (change)="mapUnitToValueType()"/>
        <label for="unit-money" class="type-label">Naudas izteiksmē</label>
      </div>
      <div>
        <input type="checkbox" id="unit-tons" [(ngModel)]="newCategory.unitTons"
               [disabled]="disableUnitType(newCategory.unitPieces,newCategory.unitLiters)"
               (change)="mapUnitToValueType()"/>
        <label for="unit-tons" class="type-label">Tonns</label>
      </div>
      <div>
        <input type="checkbox" id="unit-pieces" [(ngModel)]="newCategory.unitPieces"
               [disabled]="disableUnitType(newCategory.unitTons,newCategory.unitLiters)"

               (change)="mapUnitToValueType()"/>
        <label for="unit-pieces" class="type-label">Gabali</label>
      </div>
      <div>
        <input type="checkbox" id="unit-liters" [(ngModel)]="newCategory.unitLiters"
               [disabled]="disableUnitType(newCategory.unitTons,newCategory.unitPieces)"

               (change)="mapUnitToValueType()"/>
        <label for="unit-liters" class="type-label">Litri</label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4">
        <label for="category-tax">Tax:</label>
        <input type="number" id="category-tax"
               [disabled]="newCategory.taxDisable"
               [(ngModel)]="newCategory.taxRate"/>
      </div>
      <div class="col-4">
        <input
          (change)="disableTaxAndSetNUll()"
          type="checkbox" id="apply-tax" style="margin-top: 20%;"/>
        <label for="apply-tax" class="type-label">Alga</label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-4">
        <label for="category-pricePer-unit">Price per Unit:</label>
        <input type="number" id="category-pricePer-unit" (input)="addValueForAllMonths($event)"/>
      </div>
      <div class="col-4">
        <input [(ngModel)]="newCategory.toAllMonths" type="checkbox" id="apply-value" style="margin-top: 20%;"/>
        <label for="apply-value" class="type-label">Apply value to all months</label>
      </div>
    </div>


    <div class="form-container" *ngIf="!newCategory.toAllMonths">
      <div class="form-row">
        <div class="form-group">
          <label>Janvāris:</label>
          <input type="number" [(ngModel)]="newCategory.jan"/>
        </div>
        <div class="form-group">
          <label>Februāris:</label>
          <input type="number" [(ngModel)]="newCategory.feb"/>
        </div>
        <div class="form-group">
          <label>Marts:</label>
          <input type="number" [(ngModel)]="newCategory.mar"/>
        </div>
        <div class="form-group">
          <label>Aprīlis:</label>
          <input type="number" [(ngModel)]="newCategory.apr"/>
        </div>
        <div class="form-group">
          <label>Maijs:</label>
          <input type="number" [(ngModel)]="newCategory.may"/>
        </div>
        <div class="form-group">
          <label>Jūnijs:</label>
          <input type="number" [(ngModel)]="newCategory.jun"/>
        </div>
      </div>

      <div class="form-row" *ngIf="!newCategory.toAllMonths">
        <div class="form-group">
          <label>Jūlijs:</label>
          <input type="number" [(ngModel)]="newCategory.jul"/>
        </div>
        <div class="form-group">
          <label>Augusts:</label>
          <input type="number" [(ngModel)]="newCategory.aug"/>
        </div>
        <div class="form-group">
          <label>Septembris:</label>
          <input type="number" [(ngModel)]="newCategory.sep"/>
        </div>
        <div class="form-group">
          <label>Oktobris:</label>
          <input type="number" [(ngModel)]="newCategory.oct"/>
        </div>
        <div class="form-group">
          <label>Novembris:</label>
          <input type="number" [(ngModel)]="newCategory.nov"/>
        </div>
        <div class="form-group">
          <label>Decembris:</label>
          <input type="number" [(ngModel)]="newCategory.dec"/>
        </div>
      </div>
    </div>

  </ng-container>

  <div class="buttons-row">
    <button type="button" class="cancel-btn" (click)="cancel()">Cancel</button>
    <button [class]="isFormValid()?'save-btn':'save-btn-disabled'" [disabled]="!isFormValid()"
            (click)="saveCategory()">Save
    </button>
  </div>
</div>
